<% if logged_in? %>
<div class="row">
  <div>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <div class="lp-img center jumbotron">
    <div class="title-area">
      <h1 style="padding-bottom: 20px;">INSTAGRAM CLONE</h1>
      <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
