<%= form_for(@comment) do |f| %>
  <%= f.text_area :content, placeholder: "コメントを追加...", class: "comment-box" %>
  <%= f.hidden_field :micropost_id, value: micropost.id %>
  <%= f.submit "投稿する", class: "comment-btn" %>
<% end %>
