<% if Like.find_by(user_id: current_user.id, post_id: micropost.id) %>
  <%= link_to(like_path(id: micropost.id), method: :delete, remote: true) do %>
    <span id="heart-<%= micropost.id %>" class="fa fa-heart like-btn-on"></span>
    いいね！
  <% end %>
<% else %>
  <%= link_to(likes_path(id: micropost.id), method: :post, remote: true) do %>
    <span id="heart-<%= micropost.id %>" class="far fa-heart"></span>
    いいね！
  <% end %>
<% end %>
<%= Like.where(post_id: micropost.id).size %> 件
