<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if controller.action_name == 'edit' || controller.action_name == 'update' %>
    <p>＜公開情報＞</p>
  <% end %>

  <%= f.label :fullname, "Name *" %>
  <%= f.text_field :fullname, class: 'form-control' %>

  <%= f.label :name, "User Name *" %>
  <%= f.text_field :name, class: 'form-control' %>

  <% if controller.action_name == 'edit' || controller.action_name == 'update' %>
    <%= f.label :website %>
    <%= f.text_field :website, class: 'form-control' %>

    <%= f.label :introduction %>
    <%= f.text_area :introduction, class: 'form-control' %>
  <% end %>

  <% if controller.action_name == 'edit' || controller.action_name == 'update' %>
    <p>＜非公開情報＞</p>
  <% end %>

  <%= f.label :email, "Email *" %>
  <%= f.email_field :email, class: 'form-control' %>

  <% if controller.action_name == 'edit' || controller.action_name == 'update' %>
    <%= f.label :number, "Telephone" %>
    <%= f.text_field :number, class: 'form-control' %>

    <div class="form-group section-gender">
      <b>Gender</b><br>
      <lavel class="checkbox-inline"><%= f.radio_button :gender, 1 %>男</lavel>
      <lavel class="checkbox-inline"><%= f.radio_button :gender, 2 %>女</lavel>
    </div>
  <% end %>

  <% if controller.action_name == 'new' || controller.action_name == 'create' %>
    <%= f.label :password, "Password *"%>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirmation *" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  <% end %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
