<% provide(:title, 'ユーザー編集') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <%= link_to "change", "http://gravatar.com/emails", target: "_blank", rel: "noopener" %>
    </div>
    <div class="clear"></div>
    <div class="delete_myself">
      <%= link_to "account delete", @user, method: :delete, data: { confirm: "You sure?" } %>
    </div>
  </div>
</div>
