<% provide(:title, '新規登録') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <p style="margin-top: 10px;">登録することで、<%= link_to '利用規約、データに関するポリシー、
        Cookieポリシー', '/terms' %>に同意するものとします。
    </p>
  </div>
</div>
