<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <div class="clear"></div>
  <div class="text-center">
    <%= will_paginate @feed_items %>
  </div>
<% end %>
