<li id="micropost-<%= micropost.id %>" class="col-md-4">
  <div class="micropost_box">
    <%= link_to gravatar_for(micropost.user, size: 30), micropost.user, id: "gravatar-#{micropost.user.id}" %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <div class="clear"></div>
    <span class="content">
      <%= link_to(micropost_path(micropost.id), id: "picture-link-#{micropost.id}", remote: true) do %>
        <%= image_tag micropost.picture.url, id: "picture-#{micropost.id}" unless micropost.picture.blank? %>
      <% end %>
      <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </span>
    <span class="font-btn" id="like-<%= micropost.id %>">
      <%= render "likes/like", micropost: micropost %>
    </span>
    <%= link_to(micropost_path(micropost.id), remote: true) do %>
      <i class="font-btn far fa-comment-dots"></i>
    <% end %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete,
                          data: { confirm: "You sure?" } %>
      <% end %>
    </span>
  </div>
</li>
