<% provide(:title, "検索結果") %>

<div class="row">
  <div>
    <% if @results.present? %>
      <ol class="microposts">
        <%= render @results %>
      </ol>
      <div class="clear"></div>
      <div class="text-center">
        <%= will_paginate @results %>
      </div>
    <% end %>

    <% if @results.nil? %>
      <% if @microposts.any? %>
        <h3>Microposts (<%= @microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <div class="clear"></div>
        <div class="text-center">
          <%= will_paginate @microposts %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
