<div class="modal-dialog">
  <div class="modal-content">
    <div class="col-md-6">
      <%= image_tag @micropost.picture.url, class: "image_center" %>
    </div>
    <div class="col-md-6">
      <p><%= @micropost.content if @micropost.content? %></p>
      <ul class="comment_ul">
        <% @comments.each do |comment| %>
        <li class="comment_li">
          <%= User.find_by(id: comment.user_id).name %>：<%= comment.content %>
          <%= link_to 'delete', comment_path(comment), method: :delete, data: { confirm: "You sure?" } %>
        </li>
        <% end %>
      </ul>
      <%= render "comments/comment_form", micropost: @micropost %>
    </div>
    <div class="clear"></div>
  </div>
</div>
