@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
    text-shadow: black 0 0 1px;
  }
}

.clear {
  clear: both;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul {
  list-style: none;
}


/* header */

.navbar-inverse {
  background-color: #fff;
  border-color: #eee;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #9d9d9d;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #9d9d9d;
    text-decoration: none;
  }
}

/* navbar hover,focus時のテキストカラー */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #9d9d9d;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #9d9d9d;
}

/* navbar ハンバーガー四角枠 */
.navbar-inverse .navbar-toggle {
  border-color: #9d9d9d;
}
/* navbar ハンバーガー三本線 */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #9d9d9d;
}

/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #9d9d9d;
}
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  border-color: #9d9d9d;
}
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
.navbar-inverse .navbar-toggle:focus > .icon-bar,
.navbar-inverse .navbar-toggle:hover > .icon-bar {
  background-color: #fff;
}

@media (max-width: 767px){
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eee;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #eee;
  }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #eee;
}

/* 検索ボックス */
.search-box {
  width: 300px;
  height: 40px;
  float: left;
  padding-top: 15px;
  margin-left: 30px;
  margin-bottom: 0px;
}

.search-box dt {
  width: 75%;
  float: left;
  border-radius: 6px;
}

.search-box dd {
  width: 20%;
  float: left;
  margin-left: 5%;
}

.display-sp {
  display: none;
}

@media (max-width: 768px) {
  .display-pc {
    display: none;
  }

  .display-sp {
    display: block;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* home */
.lp-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/top.jpg');
  height: 550px;
  background-size: cover;
  color: #fff;
}

.title-area {
  display: block;
}

@media (max-width: 768px) {
  .lp-img {
    height: 300px;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.delete_myself {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.introduction {
  margin-top: 20px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 20px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-top: 5px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.micropost_box {
  margin-left: 60px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.font-btn {
  display: inline-block;
  margin-right: 10px;
}

.like-btn-on {
  color: red;
}

#new_comment {
  width: 250px;
}

.comment-box {
  margin-bottom: 0;
}

.comment-btn {
  border: none;
  display: inline;
  text-align: right;
  color: #a9d0f5;
}

.image_center {
  margin: 0 auto;
}

.comment_ul {
  padding-left: 0px;
}

.comment_ul .comment_li {
  padding: 5px 0 5px 5px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 80%;
    height: 600px;
  }

  .modal-content {
    height: 100%;
    padding: 60px;
  }
}
