<footer class="footer">
  <small>
    Shogo &copy; 2018
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "写真アップロード", new_micropost_path %></li>
      <% else %>
        <li><%= link_to "利用規約", '/terms' %></li>
      <% end %>
    </ul>
  </nav>
</footer>
