<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Instagram Clone", root_path, id: "logo" %>
    <dl class="display-pc search-box">
      <%= search_form_for @search, url:microposts_path do |f| %>
        <dt><%= f.search_field :content_cont, placeholder: '検索するテキストを入力...' %></dt>
        <dd><%= f.submit "検索", class: 'search-btn' %></dd>
      <% end %>
    </dl>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">メニュー</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Log out", logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
          <dl class="display-sp search-box">
            <%= search_form_for @search, url:microposts_path do |f| %>
              <dt><%= f.search_field :content_cont, placeholder: '検索するテキストを入力...' %></dt>
              <dd><%= f.submit "検索", class: 'search-btn' %></dd>
            <% end %>
          </dl>
        </ul>
      </div>
    </nav>
  </div>
</header>
